.list {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.list__item {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.list__item_left {
    margin-left: 20px;
}
